<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<!--<link rel="shortcut icon" href="../photos/icons/icon.png" />-->
	<!--<link rel="icon" href="../photos/icons/icon.png" />-->
	<!--<link rel="bookmark icon" href="../photos/icons/icon.png" />-->
	<!--<script type="text/javascript" src="../files/script.js" ></script>-->
	<title>Awesome Game</title>
</head>

<body>

	<div class="menu-wrap" id="headWrap">
		<nav class="menu">
			<a href="index.html">
				<img src="logo-academy.png" style="height:40px; margin-left:50px; padding-top:5px; float:left;"/>
			</a>
			<ul class="clearfix">
				<li class="hereNow" style = "float: right; margin-right: 120px;"><a href="#">Login</a></li>
				<!--<li>-->
					<!--<a href="facebook_general.html">Facebook <span class="arrow">&#9660;</span> </a> -->
					<!--<ul class="sub-menu">-->
						<!--<li class="rows2"><a href="facebook_general.html">Informații generale</a></li>-->
						<!--<li><a href="facebook_istoric.html">Istoric</a></li>-->
						<!--<li class="rows2"><a href="facebook_afaceri.html">Afacerile corporației</a></li>-->
						<!--<li><a href="facebook_website.html">Website</a></li>-->
						<!--<li><a href="facebook_impact.html">Impact</a></li>-->
					<!--</ul>				-->

				<!--</li>-->
				<!--<li>-->
					<!--<a href="google_general.html">Google <span class="arrow"> &#9660; </span></a>-->
					<!--<ul class="sub-menu">-->
						<!--<li class="rows2"><a href="google_general.html">Informații generale</a></li>-->
						<!--<li><a href="google_inceput.html">Începuturi</a></li>-->
						<!--<li><a href="google_achizitii.html">Achiziții</a></li>-->
						<!--<li class="rows2"><a href="google_produse.html">Produse și servicii</a></li>-->
						<!--<li><a href="google_logo.html">Logo</a></li>-->
					<!--</ul>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="youtube_general.html">Youtube<span class="arrow"> &#9660; </span></a>-->
					<!--<ul class="sub-menu">-->
						<!--<li class="rows2"><a href="youtube_general.html">Informații generale</a></li>-->
						<!--<li><a href="youtube_istoric.html">Istoric</a></li>-->
						<!--<li><a href="youtube_caracteristici.html">Caracteristici</a></li>-->
						<!--<li><a href="youtube_impact.html">Impact</a></li>-->
						<!--<li class="rows2"><a href="youtube_politica.html">Politica site-ului</a></li>-->
					<!--</ul>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="yahoo_general.html">Yahoo! <span class="arrow"> &#9660; </span></a>-->
					<!--<ul class="sub-menu">-->
						<!--<li class="rows2"><a href="yahoo_general.html">Informații generale</a></li>-->
						<!--<li><a href="yahoo_inceputuri.html">Începuturi</a></li>-->
						<!--<li class="rows2"><a href="yahoo_produse.html">Produse și servicii</a></li>-->
					<!--</ul>-->
				<!--</li>-->
				<!--<li><a href="quiz.html">Evaluare</a></li>-->
				<!--<li><a href="contact.html">Contact</a></li>-->
			</ul>
			<!--<form class="langForm" name="LANGFORM">-->
			<!--<span style="color: #FFF;">Limbă:</span>-->
				<!--<select class="langDropDown">-->
					<!--<option style="background-image:url(../photos/icons/ro.gif);" value="rom">Română</option>-->
					<!--<option style="background-image:url(../photos/icons/uk.png);" value="eng">English</option>-->
				<!--</select>-->
				<!--<input type="button" value="Go" onclick="changeLang(this.form);"> </input>-->
			<!--</form>-->
		</nav>
	</div>
				


	<div id="divutz">
		<!--<div style="text-align: center;"><h1>Mediul online</h1></div> <br />-->
		<!--<img src="../photos/omulet.png" style="width: 900px; height: auto; margin-left: -50px; cursor: auto; margin-top: 20px;"/>-->
		<!--<table class="hrefTable">-->
		<!--<tr style="height:110px;">-->
			<!--<td onclick="changePage('youtube_general.html');"></td>-->
			<!--<td onclick="changePage('yahoo_general.html');"></td>-->
		<!--</tr>-->
		<!--<tr style="height: 20px;">-->
			<!--<td style="cursor: auto;"></td></a>-->
			<!--<td style="cursor: auto;"></td>-->
		<!--</tr>-->
		<!--<tr style="height: 12px;">-->
			<!--<td onclick="changePage('google_general.html');"></td>-->
			<!--<td style="cursor: auto;"></td>-->
		<!--</tr>-->
		<!--<tr style="height:70px;">-->
			<!--<td onclick="changePage('google_general.html');"></td>-->
			<!--<td onclick="changePage('facebook_general.html');"></td>-->
		<!--</tr>-->
		<!--<tr style="height: 60px;">-->
			<!--<td style="cursor: auto;"></td>-->
			<!--<td onclick="changePage('facebook_general.html');"></td>-->
		<!--</tr>-->
		<!---->
		<!--</table>-->
	

	</div>
	<!--<a href="#divutz"><img id="top-button" src="../photos/top_arrow.png" /></a>-->
   
	<div id="footWrap">
		<p id="footP" style="float: left; margin-left: 30px;">
			Copyright &copy; 2016
		</p>
		<p id="footP" style="float: right; margin-right: 150px;">
			Academy+Plus
		</p> 
	</div>
	<div id="largeImgPanel" onclick="hideMe(this);" >
		<img id="largeImg" style="height: 100%; margin: 0; padding: 0;" />
	</div>
</body>
</html>
